.gradient {
  background: -moz-linear-gradient(45deg, rgba(137,8,90,1) 0%, rgba(240,98,58,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(137,8,90,1)), color-stop(100%, rgba(240,98,58,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(137,8,90,1) 0%, rgba(240,98,58,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(137,8,90,1) 0%, rgba(240,98,58,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(137,8,90,1) 0%, rgba(240,98,58,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(137,8,90,1) 0%, rgba(240,98,58,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0623A', endColorstr='#89085A',GradientType=1 ); /* ie6-9 */
}

.gradient-light {
  background: -moz-linear-gradient(45deg, rgba(252,235,234,1) 0%, rgba(255,245,235,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,235,234,1)), color-stop(100%, rgba(255,245,235,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(252,235,234,1) 0%, rgba(255,245,235,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(252,235,234,1) 0%, rgba(255,245,235,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(252,235,234,1) 0%, rgba(255,245,235,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(252,235,234,1) 0%, rgba(255,245,235,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF5EB', endColorstr='#FCEBEA',GradientType=1 ); /* ie6-9 */
}

.text-gradient {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojODkwODVBOyIgLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3R5bGU9InN0b3AtY29sb3I6I0YwNjIzQTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, 45deg, color-stop(0%, #89085A), color-stop(99%, #F0623A));
  background-image: -moz-linear-gradient(45deg,#89085A 0%,#F0623A 99%);
  background-image: -webkit-linear-gradient(45deg,#89085A 0%,#F0623A 99%);
  background-image: -o-linear-gradient(45deg,#89085A 0%,#F0623A 99%);
  background-image: -ms-linear-gradient(45deg,#89085A 0%,#F0623A 99%);
  background-image: linear-gradient(45deg,#89085A 0%,#F0623A 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  display:inline-block; /*required*/
}

.h-fit {
  height: fit-content;
}